.btn {
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  padding: 2rem 3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.2s;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:hover,
  &:active {
    opacity: 0.8;
    text-decoration: none;
  }
  &--blue {
    background-color: $color-primary-dark;
    color: $color-white !important;
    box-shadow: 0 2rem 3rem rgba($color-primary-dark, 0.3);
  }
  &--transparent {
    color: $color-grey;
    background-color: transparent;
    &:hover,
    &:active {
color: lighten($color: #000000, $amount: 1);    }
  }
}
